In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as matlab

In [2]:
dataset=pd.read_csv("fraud_dataset_example.csv")
dataset

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
101608,10,PAYMENT,7477.02,C513257306,785.00,0.00,M524833426,0.00,0.00,0,0
101609,10,CASH_OUT,282252.35,C210473293,220339.29,0.00,C1172042998,95156.01,91286.97,0,0
101610,10,PAYMENT,17289.01,C807582280,0.00,0.00,M334249577,0.00,0.00,0,0
101611,10,TRANSFER,1347146.45,C1315779140,1605.00,0.00,C1631408038,541639.43,2186953.43,0,0
101612,10,CASH_OUT,469539.21,C515691325,31133.00,0.00,C1383702768,0.00,469539.21,0,0

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101613 entries, 0 to 101612
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            101613 non-null  int64
 1   type            101613 non-null  object
 2   amount          101613 non-null  float64
 3   nameOrig        101613 non-null  object
 4   oldbalanceOrg   101613 non-null  float64
 5   newbalanceOrig  101613 non-null  float64
 6   nameDest        101613 non-null  object
 7   oldbalanceDest  101613 non-null  float64
 8   newbalanceDest  101613 non-null  float64
 9   isFraud         101613 non-null  int64
 10  isFlaggedFraud  101613 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 8.5+ MB

In [4]:
dataset.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [5]:
dataset=dataset.drop("isFlaggedFraud",axis=1)
dataset=dataset.drop("type",axis=1)
dataset=dataset.drop("nameOrig",axis=1)
dataset=dataset.drop("nameDest",axis=1)

In [6]:
dataset

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,9839.64,170136.00,160296.36,0.00,0.00,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0
2,1,181.00,181.00,0.00,0.00,0.00,1
3,1,181.00,181.00,0.00,21182.00,0.00,1
4,1,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...
101608,10,7477.02,785.00,0.00,0.00,0.00,0
101609,10,282252.35,220339.29,0.00,95156.01,91286.97,0
101610,10,17289.01,0.00,0.00,0.00,0.00,0
101611,10,1347146.45,1605.00,0.00,541639.43,2186953.43,0
101612,10,469539.21,31133.00,0.00,0.00,469539.21,0

In [7]:
dataset["isFraud"].value_counts()

0    101497
1       116
Name: isFraud, dtype: int64

In [8]:
#dataset['type'] = pd.to_numeric(dataset["type"],errors='coerce')
#dataset['nameOrig'] = pd.to_numeric(dataset["nameOrig"],errors='coerce')
#dataset['nameDest'] = pd.to_numeric(dataset["nameDest"],errors='coerce')

In [9]:
dataset.columns

Index(['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest',
       'newbalanceDest', 'isFraud'],
      dtype='object')

In [10]:
independent=dataset[['step', 'amount',  'oldbalanceOrg', 'newbalanceOrig',
        'oldbalanceDest', 'newbalanceDest']]
dependent=dataset[['isFraud']]

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101613 entries, 0 to 101612
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            101613 non-null  int64
 1   amount          101613 non-null  float64
 2   oldbalanceOrg   101613 non-null  float64
 3   newbalanceOrig  101613 non-null  float64
 4   oldbalanceDest  101613 non-null  float64
 5   newbalanceDest  101613 non-null  float64
 6   isFraud         101613 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 5.4 MB

In [11]:
independent.shape

(101613, 6)

In [12]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# concatenate our training data back together
dataset = pd.concat([X_train, Y_train], axis=1)

# Separate majority and minority classes
# Separate majority and minority classes
df_majority = dataset[dataset.target_class==0]
df_minority = dataset[dataset.target_class==1]

# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=len(df_majority),    # to match majority class
                                 random_state=1234) # reproducible results
 
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
 
# Display new class counts
df_upsampled.balance.value_counts()

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['gini','entropy'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
#fitting the model for grid search
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [19]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_predictions)

In [20]:
grid_predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [21]:
print(cm)

[[33804    27]
 [   24    16]]

In [22]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [23]:
print(clf_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     33831
           1       0.37      0.40      0.39        40

    accuracy                           1.00     33871
   macro avg       0.69      0.70      0.69     33871
weighted avg       1.00      1.00      1.00     33871

In [24]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.6996009577015163

In [25]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.208914,0.014882,0.011959,0.000841,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.998945,0.998732,0.998573,0.998573,0.998676,0.998700,0.000137,3
1,0.078481,0.014022,0.015118,0.003747,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.998611,0.998370,0.998330,0.998624,0.998184,0.998424,0.000170,7
2,0.171311,0.020815,0.014430,0.006360,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.998423,0.998233,0.998620,0.998520,0.998777,0.998515,0.000183,6
3,0.076189,0.010851,0.013416,0.000608,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.998380,0.997960,0.998052,0.998295,0.998475,0.998232,0.000195,10
4,0.174199,0.021956,0.012236,0.000971,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.998819,0.998680,0.998672,0.999083,0.998379,0.998727,0.000228,1
5,0.085090,0.011863,0.013226,0.000894,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.998376,0.998106,0.998329,0.998930,0.998376,0.998423,0.000272,8
6,0.179985,0.026808,0.010576,0.000491,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.998724,0.998738,0.998471,0.998647,0.998624,0.998641,0.000095,4
7,0.074834,0.009728,0.012418,0.000469,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.998151,0.998037,0.998819,0.998779,0.998208,0.998399,0.000332,9
8,0.212859,0.045460,0.011026,0.001000,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.998524,0.998260,0.998777,0.998831,0.999174,0.998713,0.000307,2
9,0.069425,0.013663,0.011902,0.000496,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.998376,0.997688,0.998379,0.998676,0.998039,0.998232,0.000338,11
10,0.180472,0.030298,0.013248,0.005073,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.998676,0.998354,0.998427,0.998379,0.998782,0.998524,0.000173,5
11,0.076414,0.005978,0.014802,0.005299,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.998410,0.997786,0.997928,0.998330,0.998624,0.998216,0.000311,12